body {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}

textarea {
  resize: none;
}

input {
  height: 24px;
}

button[type='submit'] {
  height: 30px;
}

textarea {
  height: 100px
}

input,
textarea,
button[type='submit'] {
  margin: 10px 0 10px 0;
  width: 100%;
}


.validation-error {
  font-weight: bold;
  color: red;
}